    <nav class="nav">
      <div class="nav-center">
        <div class="nav-header">
          <img src="./assets/logo.svg" alt="logo" class="logo" />
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="links-container">
          <ul class="nav-links">
            <li><a class="nav-link" href="./">Home</a></li>
            <li><a class="nav-link" href="./work">Work</a></li>
            <li><a class="nav-link" href="./about">About</a></li>
            <li><a class="nav-link" href="./contact">Contact</a></li>

            <!-- <li>
              <a href="#">profile</a>
            </li> -->
          </ul>
      </div>
    </nav>