<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs template engine tet</title>
  </head>
  <body>
    <main>
      <h1>Hello , <%= username %></h1>
      <h1>Fruits:</h1>
      <ul>
        <% items.forEach((fruit) => { %>
        <li><%= fruit %></li>
        <% }) %>
      </ul>
      <p>There are other items to display on view</p>
      <h1>Goods bought:</h1>
      <ul>
        <% stuffs.forEach((item) => { %>
        <li><%= item.name + " -- No. of items "+ item.quantity%></li>

        <% }) %>
      </ul>
    </main>
  </body>
</html>
