<!DOCTYPE html>
    <%- include('./partials/head.ejs') %>

  <body>
    
    <%- include('./partials/header.ejs') %>
    <footer id="footer">
          <%- include('./partials/footer.ejs') %>

    </footer>
    <script src="main.js"></script>
  </body>
</html>
